[pandas.cut](https://pandas.pydata.org/docs/reference/api/pandas.cut.html)

Let's say we have a dataset containing the names of students and their grades and we want to convert those values into qualitative values (A, B, C, etc.) based on these conditions:

```
[0-50] --> F
[50-60] --> D
[60-70] --> C
[70-80] --> B
[80-90] --> A
```

In [1]:
# First, lets import pandas and create our data frame...
import pandas as pd
df = pd.DataFrame({
    "name":["Sajjad", "Alli Reza", "David", "Mohammad", "John"],
    "mark":[86,61,49,92,100]
})
df

        name  mark
0     Sajjad    86
1  Alli Reza    61
2      David    49
3   Mohammad    92
4       John   100

In [2]:
# Next, we need to define our cutoff points and labels...
cutoff = [0, 50, 60, 70, 90, 100]
labels = ['F', 'D', 'C', 'B', 'A']

# Now, we can create our new column...
df["qualitative"] = pd.cut(df['mark'], bins=cutoff, labels=labels)
df

        name  mark qualitative
0     Sajjad    86           B
1  Alli Reza    61           C
2      David    49           F
3   Mohammad    92           A
4       John   100           A