[pandas.cut](https://pandas.pydata.org/docs/reference/api/pandas.cut.html)

Let's say we have a dataset containing the names of students and their grades and we want to convert those values into qualitative values (A, B, C, etc.) based on these conditions:

```
[0-60] --> F
[60-70] --> D
[70-80] --> C
[80-90] --> B
[90-100] --> A
```

In [1]:
# First, lets import pandas and create our data frame...
import pandas as pd
df = pd.DataFrame({
    "name":["Sajjad", "Alli Reza", "David", "Mohammad", "John"],
    "mark":[86,61,49,92,100]
})
df

        name  mark
0     Sajjad    86
1  Alli Reza    61
2      David    49
3   Mohammad    92
4       John   100

In [3]:
# Next, we need to define our cutoff points and labels...
cutoff = [0, 60, 70, 80, 90, 100]
labels = ['F', 'D', 'C', 'B', 'A']

# Now, we can create our new column...
df["qualitative"] = pd.cut(df['mark'], bins=cutoff, labels=labels)
df

        name  mark qualitative
0     Sajjad    86           B
1  Alli Reza    61           D
2      David    49           F
3   Mohammad    92           A
4       John   100           A

In [9]:
# If you are working with a large dataset the output may be truncated.
# You can specify the number of rows you want to display using...
pd.options.display.max_rows = 2
df

      name  mark qualitative
0   Sajjad    86           B
..     ...   ...         ...
4     John   100           A

[5 rows x 3 columns]